@page
@model ContosoPets.Ui.Areas.Admin.Pages.Users.IndexModel
@{
    ViewData["Title"] = "User Administration";
}

<h1>User Administration</h1>

<form method="post">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Permissions</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price.ToString("C")</td>
                    <td>
                        <button type="submit" class="btn btn-primary" asp-page-handler="Edit" asp-route-productid="@product.Id">Edit</button> |
                        <button type="submit" class="btn btn-primary" asp-page-handler="Delete" asp-route-productid="@product.Id">Delete</button>
                    </td>
                </tr>
            }*@
        </tbody>
    </table>
</form>
